<%= simple_form_for @landing_page, :html => {:multipart => true} do |f| %>
  <%= f.error_notification %>
  <%= f.input :title %> 
  <% if params[:action] == "edit" %>
    <%= f.input :screen_shot %> 
  <% end %>
  <%= f.input :url%>
  <%= f.input :keyword %>
  <%= content_tag :div, "", :id => "keyword_spy_url" %> 
  <%= f.input :keyword_cpc %>
  <%= f.input :release_date, :as => :date_picker, :input_html => { :class => "input-text" } %>
  <div class="field">
    <%= f.label :industry_name %>
    <%= f.text_field :industry_name, data: {ac_source: Industry.order(:name).map(&:name)}, :class => "input-text" %>
  </div>
  <div class="field">
    <%= f.label :landing_page_type_name %>
    <%= f.text_field :landing_page_type_name, data: {autocomplete_source: LandingPageType.order(:name).map(&:name)}, :class => "input-text" %>
  </div> 
  <%= content_tag :div, "", :id => "alexa_url" %>
  <%= f.input :commentary %>
  <%= link_to "Mark Down cheat sheet", 
               "http://support.mashery.com/docs/customizing_your_portal/Markdown_Cheat_Sheet",
               :target => "_blank", :class => "pad-bot" %>
  <%= f.input :related_text_keywords %>
  <%= f.input :alexa_rating %>
  <%= f.input :ppc_budget %>
  <%= f.input :google_ppc_keywords %>
  <%= f.button :submit %>
<% end %>
