<%= simple_form_for @landing_page, :html => {:multipart => true} do |f| %>
  <% if @landing_page.errors.any? %>
    <%= f.error_notification %>
  <% end %>
  <%= f.input :title %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, :class => "input-text" %>
  </div>
  <div class="field">
    <%= f.label :url %>
    <%= f.text_field :url, :class => "input-text" %>
  </div>
  <div class="field">
    <%= f.label :keyword %>
    <%= f.text_field :keyword, :class => "input-text" %>
  </div> 
  <div class="field">
    <%= f.label :keyword_cpc, "Cost Per Click" %>
    <%= f.text_field :keyword_cpc, :class => "input-text" %>
  </div>
  <div class="field">
    <%= f.label :release_date %>
    <%= f.text_field :release_date, :class => "input-text" %>
  </div>
  <div class="field">
    <%= f.label :industry_name %>
    <%= f.text_field :industry_name, data: {ac_source: Industry.order(:name).map(&:name)}, :class => "input-text" %>
  </div>
  <div class="field">
    <%= f.label :landing_page_type_name %>
    <%= f.text_field :landing_page_type_name, data: {autocomplete_source: LandingPageType.order(:name).map(&:name)}, :class => "input-text" %>
  </div>
  <div class="actions">
    <%= f.submit "Create Landing Page", :class => "nice medium radius blue button" %>
  </div>
<% end %>
