<div class="row pad-top">
  <div class="columns nine">
    <% @landing_pages.each_with_index do |landing_page, index| %>
      <% if (index < 2 && page_one?  ) %>
        <div class="row pad-bot">
          <div class="twelve inpad bigbox">
            <%= format_date(landing_page.release_date) %>
            <%= link_to image_tag(landing_page.screen_shot.bigthumb.url, :class => "border"), landing_page.screen_shot.url, :title => landing_page.title %>
            <h3 class="pad-top-half left"><%= link_to landing_page.title, landing_page %></h3>
            <ul class="details right pad-top">
              <%= cost_per_click(landing_page.keyword_cpc) %>
              <%= like_button(landing_page) %>
            </ul>
          </div>
        </div>
      <% else %>
        <%= "<div class='row pad-bot'>".html_safe if (oddeven(index) == "even") %>
          <div class="columns six inpad smallbox">
            <%= format_date(landing_page.release_date) %> 
            <%= link_to image_tag(landing_page.screen_shot.thumb.url, :class => "border"), landing_page  %>
            <h4><%= link_to landing_page.title, landing_page %></h4>
            <ul class="details right pad-top">
              <%= cost_per_click(landing_page.keyword_cpc) %>
              <%= like_button(landing_page) %>
            </ul>
          </div>
        <%= "</div>".html_safe if (oddeven(index) == "odd" || landing_page == @landing_pages.last ) %>
      <% end %>
    <% end %> 

    <%= will_paginate @landing_pages %>
    <%= link_to 'New Landing page', new_landing_page_path %>
  </div>
  <div class="columns three sidebar">
    <%= render "sidebar" %>
  </div>
</div>