<div class="row">
  <% flash.each do |key, msg| %>
    <div id="alert-box_<%= "#{key}" %>" class="alert-box marg-top">
      <%= msg %>
      <a href="" class="close">&times;</a>
    </div>    
  <% end %>
</div>
<div class="row twelve pad-top">
  <div class=" columns nine screen-shot">
    <h2>
      <%= link_to "#{@landing_page.title}", @landing_page.url %>
    </h2>
    <div class="row inpad bigbox">
      <%= link_to image_tag(@landing_page.screen_shot.bigthumb.url, :class => "border"), @landing_page.screen_shot.url, :title => @landing_page.title, :class => "lightbox" %>
      <ul class="details right pad-top">
        <%= keyword(@landing_page.keyword) %>
        <%= cost_per_click(@landing_page.keyword_cpc) %>
        <%= like_button(@landing_page) %>
      </ul>
    </div>
  </div>
  <div class="columns three sidebar">
    <%= render "advert" %>
    
    <%= lp_thumbs(@landing_page.industry, @lp_industry_prev, @lp_industry_next ) %>
    <%= lp_thumbs(@landing_page.landing_page_type, @lp_type_prev, @lp_type_next ) %>
 
    <p><%= @landing_page.description %></p> 
    
    <div class="clear">
       <%= link_to 'Edit', edit_landing_page_path(@landing_page) %> |
       <%= link_to 'Back', landing_pages_path %>
    </div>
  </div>

</div>