<% set_meta_tags :title => "#{@landing_page.title}",
                  :description => description_tag(@landing_page.description),
                  :reverse => true,
                  :open_graph => {
                    :title => "#{@landing_page.title} Landing Page",
                    :type  => :image,
                    :url   => "#{@landing_page.screen_shot.url}"
                  }  %>
<div class="row">
  <% flash.each do |key, msg| %>
    <div id="alert-box_<%= "#{key}" %>" class="alert-box marg-top">
      <%= msg %>
      <a href="" class="close">&times;</a>
    </div>    
  <% end %>
</div>
<div class="row twelve pad-top">
  <div class=" columns nine screen-shot">
    <h2>
      <%= link_to "#{@landing_page.title}", @landing_page.screen_shot.url, :class => "lightbox" %>
    </h2>
    <div class="row">
      <div class="columns eight inpad bigbox">
        <%= link_to image_tag(@landing_page.screen_shot.url, :class => "border"), @landing_page.screen_shot.url, :title => @landing_page.title, :class => "lightbox" %>
        <ul class="details right pad-top">
          <%= like_button(@landing_page) %>
        </ul>
        <div class="pad-top left">
          <%= render "social_buttons" , :landing_page => @landing_page %>
        </div>
      </div> 
      <div class="columns four">
         <ul class="details pad-top">
            <%= list_item(@landing_page.keyword, "Keyword") %>
            <%= cost_per_click(@landing_page.keyword_cpc) %>
            <%= list_item(@landing_page.page_title, "Page Title")%>
            <%= list_item(@landing_page.ppc_budget, "PPC Budget per Month")%>
            <%= list_item(@landing_page.google_ppc_keywords, "Number of Google PPC Keywords")%>
            <%= list_item(@landing_page.alexa_rating, "Alexa Rating")%>  
          </ul> 
          <% if @landing_page.commentary %>
            <div class="commentary">
              <h4>Commentary</h4>
              <%= markdown @landing_page.commentary if @landing_page.commentary %>
              <p class="author text-right"><i>by <%= link_to "Dave Laird @kiwiupover", "http://twitter.com/kiwiupover" %></i></p>
            </div>
          <% end %>
      </div>
    </div>
    
    <div class="row pad-top left">
      <%= render "disqus" %>
    </div>
  </div>
  <div class="columns three sidebar">
    <%= render "advert" %>
    <%= lp_thumbs(@landing_page.industry, @lp_industry_prev, @lp_industry_next ) %>
    <%= lp_thumbs(@landing_page.landing_page_type, @lp_type_prev, @lp_type_next ) %>
    <% if current_user %>
      <div class="pad-top left">
        <%= link_to "Edit Page", edit_landing_page_path %>
        <%= login %>
        <%= logout %>
        <%= link_to "New Landing Page", new_landing_page_path %>
      </div>
    <% end %>
  </div>
</div>