<div class="row pad-top">
  <div class="columns nine">
    <h2><%= @landing_pages.first.industry.name %> Landing Pages</h2>
    <ul class="block-grid two-up">
      <% @landing_pages.each_with_index do |landing_page| %>
        <li class="inpad smallbox">
          <div class="date">
            <%= landing_page.release_date.to_date().to_formatted_s(:rfc822)  %>
          </div>
          <%= link_to image_tag(landing_page.screen_shot.thumb.url, :class => "border"), landing_page %>
          <h4><%= link_to landing_page.title, landing_page %></h4>
        </li>
      <% end %>
    </ul> 
    <%= will_paginate @landing_pages, :page_links => false %>
  </div>
  <div class="columns three sidebar">
    <%= render "landing_pages/sidebar" %> 
  </div>
</div>

