<footer id="footer" class="container">
  <div class="row">
    <div class="columns twelve">
       <ul>
        <li><%= link_to "Landing Pages", landing_pages_path %></li>
        <li><%= link_to "Landing Pages by Industry", industries_path %></li>
        <li><%= link_to "Landing Pages by Type", landing_page_types_path %></li>
        <!-- <li><a href="#">About Landing Page of the Day</a></li>  -->
       </ul> 
       <div class="copywrite center">
         <p>&copy; <%= Time.now.year %> Web site by: <%= link_to "kiwiupover", "http://kiwiupover.com", :target => '_blank' %></p>
       </div>
    </div>
  </div>
</footer>
<div id="fb-root"></div> 
<%= javascript_include_tag "application" %> 
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-985218-23']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>