<%= render "layouts/head" %>
<header id="header" class="container">
  <div class="row">
    <div class="columns three">
      <h1><a href="<%= root_path %>">Landing Page of the Day</a></h1>
    </div>
    <div class="Navigation columns nine">
      <nav id="head">
        <ul class="right">
          <li><%= link_to "Industries", industries_path %></li>
          <li><%= link_to "Types", landing_page_types_path %></li>
          <li><%= link_to "Landing Pages", landing_pages_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<div class="container wrapper-bg">
  <%= yield %>
</div>

<%= render "layouts/foot" %>
</body>
</html>
